.footer {
  background-color: var(--dark-purple);
  color: white;
  padding: 2rem 0;
  font-weight: 500;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Large screen */
@media (min-width: 76rem) {
  .footerInfo {
    flex-direction: row;
  }
}
